{% extends 'base.html' %}
{% load blog_temptags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    {% for message in messages %}
        {% if 'Added' in message.extra_tags %}
        <div class="flash-new">{{ message }}</div>
        {% endif %}
    {% endfor %}
    <br>
    <div class="article">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content|linebreaks }}</p>
        <hr>
    <div class="meta-info">
        <span class="category-tag">Категория: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span>
        <div class="category-tag">Теги:
        {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.tag_name }}{% if not forloop.last %},{% endif %}</a>
        {% endfor %}
        </div>
        <span class="date-tag">Дата публикации: {{ post.timestamp_created }}</span>
        <span class="author-tag">Автор: <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></span>
        <span class="date-tag">Просмотры: {{ post.total_seen }}</span>
    </div>
    </div>
        {% include 'blog/includes/comments_form.html' with form=form %}
    {% show_comments post %}
{% endblock %}