{% extends 'base.html' %}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <form class="auth-form" method="post">
    <h1>Авторизация</h1>
        {% csrf_token %}
{% if messages %}
    {% for message in messages %}
        <div class="flash-new">{{ message }}</div>
    {% endfor %}
    <br>
{% endif %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="form-errors">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <div class="form-errors">{{ f.errors }}</div>
            <p><label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        {% endfor %}
        <button type="submit">Войти</button>
    </form>
{% endblock %}